:root {
    --transition: all 0.3s linear;
    --transition-links: all 0.1s linear;
    /* cores principais */
    --blueJr: #083AF3;
    --yellowJr: #E6D11F;
    --lightBlueJr: #8FE1FA;
    /* cores secundárias */
    --color-1: hsl(209, 61%, 16%);
    --color-2: hsl(209, 9%, 51%);
}
.navbar {
    position: fixed;
    background-color: var(--color-2);
    height: 5rem;
    z-index: 10;
    min-width: 100vw;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 9rem;
}

.nav-header{
    display: flex;
    align-items: center;
}


.nav-header img{
    height: 4rem;
}

.navbar ul{
    display: flex;

}

.nav-links li{
    padding: 0 1rem;
    font-size: 1.1rem;
    text-decoration-style: var(--blueJr);
    
}

.link{
    color: var(--blueJr);
}
.button-icon{
    color: var(--blueJr);
}

.link-active{
    color: var(--blueJr);
    border-bottom: 1px solid var(--yellowJr);
    transition: var(--transition-links);
}

.login-link {
    margin-left: 14rem;
}

.nav-icons li{
    padding: 0px 10px;
}

.nav-icons {
    padding: 0px 0px;
}

.nav-icon{
    margin-right: 0.7rem;
    color: var(--blueJr);
    font-size: 2rem;
    transition: var(--transition-links);
}

.nav-icon:hover{
    border-bottom: 1px solid var(--yellowJr);
}

.login-button{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.login-button span{
    padding-right: 11px;
}

.login-button:hover{
    color: var(--yellowJr);
}


h1{
    font-family:"Open Sans", sans-serif;
    color: var(--blueJr);
    margin: 0;
    font-size: 3.5rem;
    font-weight: bold;
    border-radius: 10px;
}



h2{
    color: var(--blueJr);
    margin: 0;
    font-size: 2rem;
}


